/* common */
img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.top {
  background-color: #C4CCEB;
}
.top .title {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding-left: 41.015625%;
  padding-right: 40.9375%;
  padding-top: 2%;
}
@media (max-width: 430px) {
  .top .title {
    padding-left: 19.2533333333%;
    padding-right: 19.2%;
    padding-top: 6.6%;
  }
}
.top .logo {
  width: clamp(28px, 4.03125vw, 85px);
}
@media (max-width: 430px) {
  .top .logo {
    width: 13.76vw;
  }
}
.top .logo-desc {
  color: #101010;
  font-size: min(1.5625vw, 30px);
  margin-left: 6.2337662338%;
  font-family: fot-tsukubrdgothic-std, sans-serif;
  font-weight: bold;
  letter-spacing: 0.045em;
  margin-top: min(3%, 10px);
}
@media (max-width: 430px) {
  .top .logo-desc {
    font-size: 5.3333333333vw;
  }
}
.top .container {
  max-width: 795px;
  width: 62.109375%;
  margin: min(11.046875%, 141.4px) auto 0;
  padding-left: 0.078125%;
}
@media (max-width: 430px) {
  .top .container {
    width: auto;
    margin: 23.4666666667% 14.9333333333% 0;
  }
}
.top .catch {
  font-family: fot-tsukubrdgothic-std, sans-serif;
  font-size: min(6.25vw,80px);
  font-weight: bold;
  color: #000000;
}
@media (max-width: 430px) {
  .top .catch {
    font-size: 6.9333333333vw;
  }
}
.top .catch-first {
  background-color: #FFFFFF;
  padding: 6.2893081761% 5.2830188679% 6.2893081761% 4.4025157233%;
  display: inline-block;
  white-space: nowrap;
}
@media (max-width: 430px) {
  .top .catch-first {
    padding-right: 6.8441064639%;
    padding-top: 6.463878327%;
    margin-top: -0.3802281369%;
  }
}
.top .catch-later {
  background-color: #FFFFFF;
  padding: 6.6666666667% 6.9182389937% 5.9119496855% 5.9119496855%;
  margin-top: 3.2704402516%;
  margin-left: 0.37890625%;
  display: inline-block;
}
@media (max-width: 430px) {
  .top .catch-later {
    margin-top: 3.4220532319%;
    padding: 6.8441064639% 7.4144486692% 6.0836501901% 5.7034220532%;
  }
}
.top .arrow {
  width: min(3.3333333333%, 26.5px);
  height: min(2.0703125vw, 26.5px);
  margin: 0 auto;
  margin-top: 7.421875%;
  border-bottom: min(0.78125vw, 10px) solid #000000;
  border-right: min(0.78125vw, 10px) solid #000000;
  border-radius: 3px;
  transform: rotate(45deg);
}
@media (max-width: 430px) {
  .top .arrow {
    margin-top: 30.3%;
    width: 3vw;
    height: 3vw;
    border-bottom: 1.4vw solid #000000;
    border-right: 1.4vw solid #000000;
  }
}

.check {
  background-color: #C4CCEB;
  padding-top: min(11.5625%, 148px);
}
@media (max-width: 430px) {
  .check {
    padding-top: 29.5%;
  }
}
.check .container {
  max-width: 1004px;
  width: 78.4375%;
  margin: 0 auto;
}
@media (max-width: 430px) {
  .check .container {
    width: 89.3333333333%;
  }
}
.check-heading {
  font-family: "Montserrat", sans-serif;
  font-size: min(3.90625vw,50px);
  font-weight: normal;
  letter-spacing: 0.06em;
  color: #101010;
  width: fit-content;
  margin: 0 auto;
}
@media (max-width: 430px) {
  .check-heading {
    font-size: 5.0666666667vw;
    margin-left: 22.2%;
    letter-spacing: 0.06em;
  }
}
.check-heading:before, .check-heading:after {
  content: "";
  display: inline-block;
  width: min(6.54296875vw, 83.75px);
  height: min(6.54296875vw, 83.75px);
  background-image: url(../img/check-icon.svg);
  background-size: contain;
  vertical-align: middle;
  position: relative;
  margin-top: 0.27100271%;
}
@media (max-width: 430px) {
  .check-heading:before, .check-heading:after {
    width: 8.92vw;
    height: 8.92vw;
  }
}
.check-heading:before {
  left: -3.6585365854%;
}
@media (max-width: 430px) {
  .check-heading:before {
    left: -6.5%;
    margin-top: 1.3%;
  }
}
.check-heading:after {
  right: -2.8455284553%;
}
@media (max-width: 430px) {
  .check-heading:after {
    right: -6.2%;
    margin-top: 1.1%;
  }
}
.check .result {
  margin-top: 5.234375%;
  border: min(1.5vw, 15px) solid #FFFFFF;
  border-radius: 2.5em;
}
@media (max-width: 430px) {
  .check .result {
    margin-top: 9.6985074627%;
    border: 0.5em solid #FFFFFF;
    padding-bottom: 13.4%;
  }
}
.check .score {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: bold;
  color: #222222;
  display: block;
  margin-top: 8.6653386454%;
  padding-bottom: 9.4621513944%;
  background: no-repeat;
  background-image: url(../img/score_underline.svg);
  background-position: 50.5% 81.5%;
  background-size: 56.3%;
  text-align: center;
}
@media (max-width: 430px) {
  .check .score {
    margin-top: 13.7313432836%;
    padding-bottom: 14.9253731343%;
    background-image: url(../img/score_underline_sp.svg);
    background-size: 87%;
    background-position: 53% 87%;
  }
}
.check .score-number {
  font-size: min(12.5vw,160px);
  display: inline-block;
}
@media (max-width: 430px) {
  .check .score-number {
    font-size: 21.3333333333vw;
  }
}
.check .score-point {
  font-size: min(7.8125vw,100px);
  display: inline-block;
}
@media (max-width: 430px) {
  .check .score-point {
    font-size: 13.3333333333vw;
    margin-top: 0.46em;
    margin-left: 0.14em;
  }
}
.check .score-desc {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: min(2.34375vw,30px);
  line-height: 1.68;
  width: 69.9178644764%;
  padding-bottom: 7.3921971253%;
  margin: 0 auto;
}
@media (max-width: 430px) {
  .check .score-desc {
    font-size: 4.8vw;
    margin-top: 15.3510971787%;
    width: 79.9373040752%;
    line-height: 1.747;
  }
  .check .score-desc .none {
    display: none;
  }
}

.book {
  background-color: #C4CCEB;
  padding-top: min(14.6875%, 188px);
  padding-bottom: min(11.640625%, 149px);
}
@media (max-width: 660px) {
  .book .md-none {
    display: none;
  }
}
@media (max-width: 430px) {
  .book {
    padding-top: 33.3333333333%;
    padding-bottom: 30.3%;
  }
}
.book .container {
  max-width: 1002px;
  width: 78.28125%;
  margin: 0 auto;
}
@media (max-width: 430px) {
  .book .container {
    width: auto;
  }
}
.book-heading {
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-size: min(6.25vw,80px);
  color: #030303;
  letter-spacing: 0.05em;
  padding-bottom: 10.5788423154%;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
@media (max-width: 660px) {
  .book-heading {
    font-size: min(5.859375vw,75px);
  }
}
@media (max-width: 430px) {
  .book-heading {
    font-size: 6.1333333333vw;
    letter-spacing: 0.08em;
    display: block;
    padding-bottom: 13.9%;
  }
}
.book-heading:before, .book-heading:after {
  content: "";
  position: absolute;
  border-radius: 11px;
  color: #FFFFFF;
}
.book-heading:before {
  top: 2%;
  height: 51%;
  border-left: solid min(1.09375vw, 14px);
  left: -7%;
  transform: rotate(-32.2deg);
}
@media (max-width: 430px) {
  .book-heading:before {
    top: 9%;
    left: -7.7%;
    height: 36%;
  }
}
.book-heading:after {
  top: 2.4%;
  right: -3.1%;
  height: 51%;
  border-right: solid min(1.09375vw, 14px);
  transform: rotate(30deg);
}
@media (max-width: 430px) {
  .book-heading:after {
    top: 9%;
    right: -4.1%;
    height: 36%;
  }
}
.book .book-introduction {
  display: flex;
}
@media (max-width: 660px) {
  .book .book-introduction {
    flex-direction: column;
  }
}
.book .book-introduction-img {
  width: min(25.78125vw, 330px);
  margin-top: 1.3972055888%;
  align-self: flex-start;
  box-shadow: min(1vw, 14px) max(-1vw, -14px);
}
@media (max-width: 660px) {
  .book .book-introduction-img {
    width: 40vw;
    margin: 0 auto;
  }
}
@media (max-width: 430px) {
  .book .book-introduction-img {
    width: 88.8%;
    margin-top: -2%;
    box-shadow: min(3vw, 9px) max(-3vw, -10px);
  }
}
.book .book-introduction-detail {
  padding-left: min(7.31796875vw, 93.67px);
  padding-top: 0.2994011976%;
}
@media (max-width: 430px) {
  .book .book-introduction-detail {
    padding-left: 0;
    width: 90%;
    margin: 0 auto;
  }
}
.book .book-introduction-desc {
  font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: min(1.5625vw,20px);
  line-height: 1.7;
  width: 45.234375vw;
  max-width: 579px;
}
@media (max-width: 660px) {
  .book .book-introduction-desc {
    padding-left: 17.6%;
    margin-top: 8%;
    width: 56%;
  }
}
@media (max-width: 430px) {
  .book .book-introduction-desc {
    font-size: 4.2666666667vw;
    margin-top: 18.9%;
    width: 100%;
    line-height: 1.69;
    padding-left: 0;
  }
}
@media (max-width: 430px) {
  .book .book-introduction .br:before {
    content: "\a";
    white-space: pre;
  }
}
.book .book-introduction-btnlink {
  font-family: "Montserrat", sans-serif;
  font-size: min(3.125vw,40px);
  font-weight: 500;
  color: #000000;
  display: inline-block;
  margin-top: 11.5716753022%;
  margin-left: 14.5077720207%;
  background-color: #FFFFFF;
  padding: 4.4905008636% 19.8618307427% 4.4905008636% 20.5526770294%;
  border-radius: 61px;
  box-shadow: 0.16em 0.23em;
  transition: 0.3s;
}
.book .book-introduction-btnlink:hover {
  transform: translateY(5px);
  box-shadow: 0 0;
}
@media (max-width: 660px) {
  .book .book-introduction-btnlink {
    margin-left: 15.68%;
  }
}
@media (max-width: 430px) {
  .book .book-introduction-btnlink {
    font-size: 10.6666666667vw;
    margin-top: 27%;
    margin-left: 1.2%;
    padding: 4.8% 23.9% 5.1% 23.7%;
    box-shadow: 0.17em 0.21em;
  }
}

.author {
  padding-bottom: min(1.09375%, 14px);
}
.author .container {
  max-width: 834px;
  width: 65.15625%;
  margin: min(6.328125%, 81px) auto;
}
@media (max-width: 430px) {
  .author .container {
    width: 85.6%;
  }
}
.author-heading {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.author-info {
  display: flex;
}
@media (max-width: 430px) {
  .author-info {
    flex-direction: column;
  }
}
.author-info-list {
  width: 38.8489208633%;
  font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
@media (max-width: 430px) {
  .author-info-list {
    width: 100%;
  }
}
.author-info-list .picture {
  border-radius: 50%;
}
@media (max-width: 430px) {
  .author-info-list .picture {
    width: 76.5%;
    margin: 31% auto;
    margin-left: 11.3%;
  }
}
.author-info-list .name {
  margin-top: 33.024691358%;
  font-size: min(2.5vw,32px);
  color: #000000;
}
@media (max-width: 430px) {
  .author-info-list .name {
    font-size: 8vw;
  }
  .author-info-list .name-male {
    margin-top: -18.8%;
    margin-left: -0.3%;
  }
  .author-info-list .name-female {
    margin-top: -10.3%;
    margin-left: 3%;
    letter-spacing: 0.07em;
  }
}
.author-info-list .desc {
  font-size: min(1.25vw,16px);
  margin-top: 3.3950617284%;
  line-height: 1.69;
}
@media (max-width: 430px) {
  .author-info-list .desc {
    font-size: 4.2666666667vw;
  }
  .author-info-list .desc-male {
    margin-top: 4.7%;
  }
}
.author-info-list .desc-female {
  width: 104.9382716049%;
  max-width: 340px;
}
@media (max-width: 430px) {
  .author-info-list .desc-female {
    margin-left: 2.7%;
    width: 95%;
    margin-top: 6.5%;
  }
  .author-info-list .desc-female .none {
    display: none;
  }
}
.author-info-list .media {
  font-size: min(1.25vw,16px);
  padding-top: 12.037037037%;
  margin-top: auto;
  line-height: 1.99;
  color: #020202;
  white-space: nowrap;
}
@media (max-width: 430px) {
  .author-info-list .media {
    font-size: 4vw;
  }
}
.author-info-list .media-male {
  margin-left: 0.4012345679%;
}
@media (max-width: 430px) {
  .author-info-list .media-male {
    margin-top: -8.1%;
    margin-left: -0.1%;
  }
  .author-info-list .media-male .blog {
    margin-top: 0.6%;
  }
}
@media (max-width: 430px) {
  .author-info-list .media-female {
    margin-left: 2.7%;
    font-size: 4.2666666667vw;
  }
}
.author .female {
  margin-left: 22.3021582734%;
}
@media (max-width: 430px) {
  .author .female {
    margin-top: 10.4%;
    margin-left: 0.71%;
  }
}

.footer {
  background-color: #C4CCEB;
}
@media (max-width: 430px) {
  .footer {
    margin-top: 37%;
    padding-bottom: 25%;
  }
}
.footer .container {
  color: #000000;
  font-family: YuGothic, "Yu Gothic", Meiryo, sans-serif;
  font-weight: bold;
  padding: min(7.1875%, 92px) 0 min(6.953125%, 89px) 0;
  white-space: nowrap;
}
.footer .credit {
  display: flex;
  justify-content: center;
}
.footer .director {
  position: relative;
  left: -3.75em;
  font-size: min(1.25vw,16px);
}
@media (max-width: 430px) {
  .footer .director {
    font-size: 4.2666666667vw;
    left: -1.17em;
    top: 0.38em;
  }
}
.footer .director .colon {
  position: relative;
  left: 0.26em;
  top: 0.14em;
}
@media (max-width: 430px) {
  .footer .director .colon {
    font-size: 4.2666666667vw;
  }
}
.footer .director .name-a {
  font-size: min(1.25vw,16px);
  position: relative;
  left: 0.3em;
  top: 0.16em;
}
@media (max-width: 430px) {
  .footer .director .name-a {
    font-size: 4.2666666667vw;
    margin-left: -1%;
  }
}
.footer .markup {
  position: relative;
  left: 0.48em;
  font-size: min(1.25vw,16px);
}
@media (max-width: 430px) {
  .footer .markup {
    font-size: 4.2666666667vw;
    left: 1.43em;
    top: 0.4em;
  }
}
.footer .markup .colon {
  position: relative;
  left: 0.3em;
  top: 0.15em;
}
@media (max-width: 430px) {
  .footer .markup .colon {
    font-size: 4.2666666667vw;
  }
}
.footer .markup .name-b {
  position: relative;
  left: 0.3em;
  top: 0.16em;
  font-size: min(1.25vw,16px);
}
@media (max-width: 430px) {
  .footer .markup .name-b {
    font-size: 4.2666666667vw;
  }
}

/*# sourceMappingURL=style.css.map */
